@page
@model RestoStock.Pages.Pedidos.EditModel
@{
    ViewData["Title"] = "Editar Pedido";
}
<h2>Editar Pedido</h2>

<form method="post">
    <input type="hidden" asp-for="FormPedido.IdPedido" /> <!-- Campo oculto para el Id del Pedido -->

    <div class="form-group">
        <label asp-for="FormPedido.FechaPedido" class="control-label"></label>
        <input asp-for="FormPedido.FechaPedido" class="form-control" />
        <span asp-validation-for="FormPedido.FechaPedido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FormPedido.Total" class="control-label"></label>
        <input asp-for="FormPedido.Total" class="form-control" type="number" />
        <span asp-validation-for="FormPedido.Total" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FormPedido.FkProveedor" class="control-label"></label>
        <select asp-for="FormPedido.FkProveedor" class="form-control" asp-items="Model.ProveedoresList"></select>
        <span asp-validation-for="FormPedido.FkProveedor" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
